.advantages-list {
  padding: 20px 20px 36px;
}

.advantages-item:not(:last-child) {
  margin-bottom: 18px;
}

.advantage-card {
  display: flex;
}

.advantage-content {
  padding-top: 8px;
  text-align: left;
}

.advantage-title {
  margin-bottom: 16px;
}

.advantage-img-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  flex-shrink: 0;
}

.advantage-img {
  fill: #81b3d2;
}

@media (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages-item:nth-child(2) {
    order: 3;
  }
  .advantages-item:nth-child(3) {
    order: 2;
  }
  .advantage-card {
    flex-direction: column;
    align-items: center;
    padding: 36px 32px;
  }
  .advantage-title {
    margin-bottom: 23px;
  }
  .advantage-content {
    text-align: center;
    padding-top: 0;
  }
  .advantage-img-wrapper {
    width: 75px;
    height: 75px;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .advantage-img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .advantage-card {
    padding: 58px 50px;
  }
}
