.banner {
  position: relative;
  width: 100%;
  background-color: #b4cad8;
  background-image: url("../../images/banner-back.jpg");
}

.banner.main-page {
  height: 389px;
  background-position: center top;
}

.banner.form-page {
  height: 157px;
  background-position: center bottom;
}

.banner-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner-img.main-page {
  height: 66.9%;
  width: 87.5%;
  top: 18%;
}

.banner-img.form-page {
  height: 24.9%;
  width: 71.6%;
  top: 33.1%;
}

.banner-img-decoration {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .banner.main-page {
    height: 518px;
  }
  .banner.form-page {
    height: 290px;
  }
}
