.callback {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 48px;
}

.callback-form {
  padding: 32px 20px 20px;
}

.callback-title {
  margin-bottom: 24px;
}

.callback-text {
  line-height: 24px;
  max-width: 440px;
}

.callback-text-order {
  margin-bottom: 24px;
}

.callback-link {
  height: 56px;
  max-width: 457px;
}

@media (min-width: 768px) {
  .callback {
    padding: 58px 20px 60px;
  }
  .callback-form {
    padding: 65px 60px 30px;
  }
  .callback-title {
    margin-bottom: 32px;
  }

  .callback-text-order {
    margin-bottom: 36px;
  }
}

@media (min-width: 1200px) {
  .callback {
    padding-bottom: 72px;
  }
  .callback-form {
    padding: 115px 120px 0;
  }
}
