.copyright {
  display: flex;
  align-items: center;
  line-height: 26px;
  gap: 12px;
}

.copyright-img {
  display: block;
}

.copyright-link:active {
  opacity: 0.3;
}

@media (min-width: 1200px) {
  .copyright-link:hover:not(:active) {
    fill: #81b3d2;
  }
}
