.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b3d2;
  color: #ffffff;
  fill: currentColor;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  height: 58px;
  width: 100%;
  cursor: pointer;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

@media (min-width: 1200px) {
  .button:hover:not(:active) {
    background-color: #669ec0;
  }
}
