.custom-radio {
  margin-right: 22px;
  min-width: 56px;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form-radio:checked + .custom-radio {
  background-color: #333333;
  border: 15px solid #f2f2f2;
}

.custom-radio:active {
  background-color: #d5d5d5;
}
.form-radio:checked + .custom-radio:active {
  background-color: rgba(51, 51, 51, 0.3);
  border-color: #d5d5d5;
}

@media (min-width: 1200px) {
  .custom-radio:hover:not(:active) {
    background-color: #e5e5e5;
  }
  .form-radio:checked + .custom-radio:hover:not(:active) {
    background-color: #333333;
    border-color: #e5e5e5;
  }
}
